@model IEnumerable<TodoMVC.Models.Drive>

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Driver Name
            </th>
            <th>
                Location
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayNameFor(model => item.Driver.Name)
            </td>
            @if (item.IsPickup)
            {
                <td>
                    Pickup
                </td>
            }
            else
            {
                <td>
                    Join
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
        </tr>
        @* Add a way for the user to look at his order *@
}
    </tbody>
</table>
