@model IEnumerable<TodoMVC.Models.Drive>

@{
    ViewData["Title"] = "Drives";
}

<h2>Drives</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Driver Name
            </th>
            <th>
                Location
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dest.Name)
                    </td>
                    @if (item.IsPickup)
                    {
                        <td>
                            Pickup @* Need to add the amount of pickups availabe *@
                        </td>
                    }
                    else
                    {
                        <td>
                            Join @* Need to add the amount of seats available *@
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                </tr>
                @* Add a way to join the drives
                    Add a way for the user to see the menu of the location *@
            }
        }
    </tbody>
</table>

<a asp-action="UserOptions">Back to user options</a><br />
