
@{
    ViewData["Title"] = "User Options";
}

<h2>User Options</h2>

<div>
    <a asp-action="GetUsers">Get users</a><br />
    <a asp-action="LookForDrives">Look for drives</a><br />
    <a asp-action="JoinedDrives">Joined drives</a><br />
    <a asp-action="History">History</a><br />
    <a asp-action="Upgrade">Upgrade to driver!</a><br />
</div>