
@{
    ViewData["Title"] = "User Options";
}

<h2>User Options</h2>

<div>
    <a asp-action="LookForDrives">Look for drives</a>
    <a asp-action="JoinedDrives">Joined drives</a>
    <a asp-action="History">History</a>
    <a asp-action="Upgrade">Upgrade to driver!</a>
</div>